body {
  background-color: bisque;

}

h1 {
  color: blue;
  font-family: 'Secular One', sans-serif;
  text-align: center;
}

h2 {
  color: blue;
  font-family: 'Rubik', sans-serif;
  margin-left: 10px;
}

h3 {
  color: black;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  /* Negrito */
  text-align: center;
}

p {
  color: black;
  font-family: 'Inria Sans', sans-serif;
  font-weight: bold;
  /* Negrito */
  margin-left: 10px;
  margin-right: 10px;

}

.logo-principal {
  display: block;
  margin: 0 auto;

}

.pessoa1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* Alinhar itens verticalmente no centro */
  text-align: justify;
}

.pessoa2 {
  display: flex;
  align-items: center;
  /* Alinhar itens verticalmente no centro */
  text-align: justify;
}

.container1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* Alinhar itens verticalmente no centro */
  text-align: justify;

}

.container2 {
  display: flex;
  align-items: center;
  /* Alinhar itens verticalmente no centro */
  text-align: justify;
}

.rodape {
  max-width: 100%;
  /* Diminui o tamanho da imagem */
  height: auto;
  /* Mantei a mesma proporção */
}

.tablet {
  margin-right: 10px;

}

.celular {
  margin-left: 10px;
}

.ana {
  margin-right: 10px;
}

.egito {
  margin-left: 10px;
}

.endrigo {
  margin-right: 10px;
}

.logo-contato {
  margin-left: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}